<%- include('./include/head') %>
<link rel="stylesheet" href="./css/registertion.css" />
<link rel="stylesheet" href="./css/dash.css">
</head>
<body>
  <%- include('./include/header') %>
<div class="main">
    <div class="item">
        <div>
          <span>3</span>
          <p>Empty Room</p>
        </div>
        <div>
          <span>0</span>
          <p>Occupied Room</p>          
        </div>
        <div>
          <span>0</span>
          <p>Upcoming Booking</p>          
        </div>
        <div>
          <span>0</span>
          <p>Complted Booking</p>          
        </div>
        <div>
          <span>0</span>
          <p>Total Bussies</p>          
        </div>
    </div>
</div>
<%- include('./include/footer') %>
