<nav id="sidebar">
  <div class="sidebar-header">
    <h3>OFFDAY<span>INN</span></h3>
  </div>

  <ul class="list-unstyled components">
    <p></p>
    <li>
      <a href="/d">Dashboard</a>
    </li>
    <li>
      <a
        href="#homeSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Booking</a
      >
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="/r">Create New</a>
        </li>
        <li>
          <a href="/r">Booked Rooms</a>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#Invoices"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Invoices</a
      >
      <ul class="collapse list-unstyled" id="Invoices">
        <li>
          <a href="#">Create Invoice</a>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#pageSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Rooms</a
      >
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="/addroom">Add New</a>
        </li>
        <li>
          <a href="/roomsInventory">Room Inventory</a>
        </li>
        <li>
          <a href="/lockedRooms">Locked Rooms</a>
        </li>
        <li>
          <a href="/roomsType">Room Type</a>
        </li>
        <li>
          <a href="#">Room Rates</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Guests</a>
    </li>
    <li>
      <a href="#">Users</a>
    </li>
  </ul>
</nav>
